
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/show.css" />
    <link rel="stylesheet" href="/profile.css" />
    <title>Profile . Threads</title>
    <link rel="icon" href="/threads-icon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>


    <div class="rightside-bar">

        <div class="top-icons">
            <a href="http://localhost:8080/threads.net"> 
                <div class="logo">
                    <img src="/threads-icon.png" class="threads-logo" type="button" />
                </div>
            </a>
        </div>

        <div class="middle-icons">
            <a href="http://localhost:8080/threads.net"> 
                <div class="main btn" type="button">
                    <i class="fa-solid fa-house rightside-icons home"></i>
                </div>
            </a>
            <a href="http://localhost:8080/threads.net/search"> 
                <div class="search btn" type="button">
                    <i class="fa-solid fa-magnifying-glass rightside-icons"></i>
                </div>
            </a>
            <a href="http://localhost:8080/threads.net/new"> 
                <div class="post btn" type="button" id="openWindow">
                    <i class="fa-solid fa-plus rightside-icons"></i>
                </div>
            </a>
            <div class="likes btn" type="button">
                <i class="fa-regular fa-heart rightside-icons"></i>
            </div>
            <a href="http://localhost:8080/threads.net/profile"> 
                <div class="profile btn" type="button">
                    <i class="fa-solid fa-user rightside-icons"></i>
                </div>
            </a>
        </div>

        <div class="bottom-icons">
            <div class="pin btn" type="button">
                <i class="fa-solid fa-paperclip rightside-icons"></i>
            </div>
            <div class="menu btn" type="button">
                <i class="fa-solid fa-bars rightside-icons"></i>
            </div>
        </div>
    </div>


    <div class="middle-bar">

        <div class="nav-bar">
            <div class="for-you" type="button">
                For you
                <div class="nav-btn">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <form action="http://localhost:8080/threads.net">
            <button class="post-btn goback"> <- Go Back</button>
        </form>
        <div class="main-content show-main-content">
            <div class="profile-container">
                <div class="profile-header">
                    <div class="profile-pic">
                        <img src="/gojo-11_63862427779607.8.jpg" alt="Profile Picture" />
                    </div>
                    <div class="profile-info">
                        <h2>akramcodez</h2>
                        <p>SK Akram</p>
                        <div class="followers-info">
                            <span><strong>10.2k</strong> Followers</span>
                            <span><strong>1.5k</strong> Following</span>
                        </div>
                    </div>
                </div>
        
                <div class="profile-actions">
                    <button class="edit-profile-btn">Edit Profile</button>
                </div>
        
                <div class="bio-section">
                    <p>
                        I'm SK Akram, a passionate web developer from India. Currently working on
                        MERN stack projects. Feel free to collaborate!
                    </p>
                </div>
        
                <div class="profile-posts">
                    <h3>Your Threads</h3>
                    <div class="no-posts">No posts yet. Start threading!</div>
                </div>
            </div>
            <a href="http://localhost:8080/threads.net/new">
                <div class="your-post content">
                    <div class="profile-img"><img src="/gojo-11_63862427779607.8.jpg" /></div>
                    <div class="user-info">
                        <p class="talks user-talks">"What's new?"</p>
                    </div>
                    <button class="user-btn">Post</button>
                </div>
            </a>
        </div>
        
        
    </div>


    <div class="leftside-bar">
        <a href="http://localhost:8080/threads.net/new"> 
            <div class="upload">
                <i class="fa-solid fa-plus"></i>
            </div>
        </a>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
