
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.blur {
    opacity: 0.5;
    filter: blur(1px);
    transition: opacity,filter 0.3s ease;
}

a{
    text-decoration: none;
    color: white;
}

.rightside-bar {
  height: 100vh;
  width: 5rem;
  background-color: #080808e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 900;
}

.rightside-bar,
.middle-icons,
.bottom-icons {
  display: flex;
  flex-direction: column;
}

.logo,
.btn,
.nav-bar,
.for-you,
.nav-btn,
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.threads-logo {
  width: 3rem;
  margin-top: 0.5rem;
  transition: transform 0.3s ease;
}

.threads-logo:hover {
  transform: scale(1.1);
}

.rightside-icons {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transition: opacity 0.3s ease;
}

.btn {
  height: 3rem;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 15px;
  margin-bottom: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.main {
  opacity: 1;
}

.bottom-icons .btn {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.bottom-icons .btn:hover {
  opacity: 1;
}

.post {
  opacity: 0.5;
  background-color: #262523;
  transition: opacity 0.3s ease;
}

.post:hover {
  opacity: 1;
}

.middle-icons .btn:hover {
  background-color: #262523;
}

.middle-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 900;
}

.nav-bar {
  height: 5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #000;
}

.for-you {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 1rem;
}

.nav-btn {
  font-size: 0.8rem;
  margin-left: 8px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}

.main-content {
  z-index: 500;
  border: 1px solid rgba(255, 255, 255, 0.167);
  width: 40rem;
  background-color: #1c1b1a;
  margin: auto;
  border-radius: 2rem;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.main-content::-webkit-scrollbar , #textarea-newthread::-webkit-scrollbar{
  width: 4px;
}

.main-content::-webkit-scrollbar-track , #textarea-newthread::-webkit-scrollbar-track{
  background: transparent;
}

.main-content::-webkit-scrollbar-thumb , #textarea-newthread::-webkit-scrollbar-thumb {
  background: rgba(56, 53, 53, 0.5);
  border-radius: 20%;
}

.main-content::-webkit-scrollbar-thumb:hover  , #textarea-newthread::-webkit-scrollbar-thumb:hover  {
  background: rgba(25, 24, 24, 0.404);
}

.main-content {
  scrollbar-width: 4rem;
  scrollbar-color: #2b292885 transparent;
}

.content {
  display: flex;
  align-items: flex-start;
  /* flex-direction: row; */
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.167);
  z-index: 500;
}

.profile-img {
  flex: 0 0 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  overflow: hidden;
}

.username {
  font-weight: bold;
  color: white;
  margin: 0;
  width: 5rem;
}

.username:hover{
    text-decoration: underline;
}

.talks {
  color: rgba(255, 255, 255, 0.8);
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5rem;
  line-height: 1.5rem;
}

.user-info > div {
  display: flex;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.like,
.command {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.user-btn,
.post-btn {
  background-color: #343935;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-btn:hover {
  background-color: #2a2c2a;
}

.post-btn {
  background-color: #1c1b1a;
}

.user-talks {
  opacity: 0.5;
}

.leftside-bar {
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.upload {
  background-color: #151212;
  height: 4.5rem;
  width: 6rem;
  border-radius: 1.2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.084);
  z-index: 100;
}

.upload:hover {
  transform: scale(1.1);
}

.in-new-page{
  border:  solid rgba(255, 255, 255, 0.452);
  font-size: small;
}

.in-new-page:hover{
  background-color: rgb(66, 65, 65);
}




@media (max-width: 840px) {

    .leftside-bar {
      display: none; 
    }
  
    .rightside-bar {
      width: 4rem; 
    }

    .main-content{
        width: 30rem;
    }

}